<div class="container">
  <%= simple_form_for [@bike, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :total_price %>
    <%= f.submit "make booking", class: "btn btn-primary" %>
  <% end %>
</div>
