<div class="container mt-5">
  <%= simple_form_for [ @booking ] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit "Edit booking", class: "btn btn-outline-primary" %>
  <% end %>
  <%= link_to "Delete this booking",
            bike_path(@booking),
            method: :delete,
            data: { confirm: "Are you sure?" }, class: "btn btn-outline-primary btn-sm mt-3" %>
  <div>
    <%= link_to 'Back', bikes_path, class: "btn btn-outline-primary btn-sm mt-3"%>
  </div>
</div>
