<div class="container">
  <%= simple_form_for [ @booking ] do |f| %>
    <%= f.input :total_price %>
    <%= f.input :start_date %>
    <%= f.input :edit_date %>
    <%= f.submit "Edit booking", class: "btn btn-primary" %>
  <% end %>

  <%= link_to 'Back', bikes_path %>
</div>
