<div class="container">
  <h1>Show Page</h1>

  <%= @booking.user_id %>
  <%= @booking.bike_id %>
  <%= @booking.user_id %>
  <%= @booking.created_at %>
  <%= @booking.start_date %>
  <%= @booking.end_date %>
  <%= @booking.total_price %>
</div>

